{% extends "/mobile/base.html" %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}


<p>
  Encryption has been in the news more than ever lately.
  The terrorist attack in San Bernardino brought the notion of
  government-controlled backdoors to national headlines. Some officials
  claim that encryption prevented investigators from doing their job and warn
  that it could provide a secure channel for terrorists to communicate in the future.
  And to many people, encryption may sound like technological black magic
  that hackers and terrorists can use to cover their tracks.
  The purpose of this page is to provide some insight into what encryption
  is and why trying to control its use is a bad idea.
</p>

<h4>The Basics</h4>
<p>
  In a computer, all data is stored in the form of numbers.
  Because computers use electrical signals store and process information,
  it’s easiest to represent numbers in binary: an electrical current means 1,
  no current means 0. Computer scientists have come up with standards for representing
  things that aren’t as straightforward as integers; for instance, characters are often
  directly mapped to numbers (“A”=65, “B”=66… see <a href="https://upload.wikimedia.org/wikipedia/commons/d/dd/ASCII-Table.svg">this table</a>) and larger things
  like pictures and videos are stored in agreed-upon formats like png or mp4.
</p>

<h4>Transforming Words</h4>
<p>
Let’s say you’re in grade school and you want to pass a note to your friend, Alice, on the other side of the room.
 You can’t get up and walk across the room, because then the teacher would see you and you’d get in trouble.
 You can however, hand the note to the person next to you and say “pass this to Alice.”
 Of course, you're trusting everyone between you and Alice not to open the note, and there's a pretty good chance someone will.
 So you and Alice come up with a way to encode your messages: shift the letters through the alphabet by a number you’ve agreed upon before class.
 So, if your secret number is 4,
 </p>
<p class="handwritten">HELLO ALICE!</p>
<p>becomes</p>
<p class="handwritten">MJQQT FQNHJ!</p>
<p>
Now you can pass notes with a little more security. You’ve just implemented a Caesar cipher, one of the simplest and earliest forms of encryption. (It got it’s name because Julius Caesar used it!)
</p>

<h4>Transforming Numbers</h4>
<p>
What if you were to translate the letters to their binary representation beforehand?
You could do much more than just add or subtract. If you represent the values in their
binary form, you could use boolean operators to transform them.
Boolean operators denote functions that affect boolean data kind of like addition
and subtraction affect base-ten integers. For example, the functions AND and OR take
two inputs and produce a result. AND only results in a 1 if both of the inputs are 1’s,
but OR will be 1 if either of them are. XOR (eXclusive OR), will be 1 if either of the
inputs are 1, but 0 if they both are. What makes XOR special (and useful) is that if
you XOR something, you can XOR it again to get your original value back.
</p>
<img src="/static/table1.gif">
<p>
So if you wanted to encrypt a message to send to Alice, you could write your number
in binary and, using a secret word (also converted to binary) as the second input,
you could send a much more secure message. This would obviously be a pain to do by hand,
but that’s where computers come in.
</p>

<h4>So That’s It?</h4>
<p>
Not quite. Industry-standard encryption gets pretty (read: extremely) complex.
 It makes use of really big prime numbers because of how long it takes to find
 prime factors. One such method, RSA, uses two numbers to make  two keys, one
 that “locks” (transforms the data into gibberish) and one that “unlocks”
 (reverse the transformation, revealing the decrypted data). One key is your
 public key, which you can freely distribute to anyone who wants to send you
 something. Someone  can use your public key to encrypt their message, send
 it to you, and know that only you can decrypt it because only you know the
 corresponding private key. There are many more methods or encryption that
 serve many more purposes, like the one encrypting your connection to this site.
</p>

<h4>Why It Matters</h4>
<p class="quote">“Former NSA Director Michael Hayden said America is more
  secure and safer with unbreakable end to end encryption. I can promise you
   ... one thing: If I am standing shoulder to shoulder with the director of
   the National Security Agency on something, there’s a damn good reason for that. "
   <br>
    <span class="attrib">-Edward Snowden</span>
</p>
<p>
Our society is growing increasingly dependent on the internet.
Shopping, banking, private communication- even
<a href="https://www.wired.com/2015/07/hackers-remotely-kill-jeep-highway/">some cars</a>
 and <a href="http://www.networkworld.com/article/2976270/internet-of-things/smart-refrigerator-hack-exposes-gmail-login-credentials.html">refrigerators</a>
 rely on the web. Without a secure means of transaction, your interactions with your bank
  or business partner could be up for grabs. As for backdoors,
   introducing a backdoor into a system inherently flaws it; there’s mathematically
   no way to give only the good guys access.
</p>

<h4>A Few More Points</h4>
<p>
    The citizens of the United States aren’t the only ones concerned about
    the position of the U.S. Government — The European Parliament released
    <a href="http://www.marietjeschaake.eu/wp-content/uploads/2015/09/2015-09-22-MEPs-Statement-on-Digital-Protectionism.pdf">a statement</a>
    to the U.S. last year which acknowledged that “[they] have different ideas on privacy
    and platforms, net neutrality and encryption,  Bitcoin, zero-days or copyright,”
    and stresses the importance of “close cooperation between the EU and the US.”
</p>
<p>
    Many of the most notable modern cryptologists authored
    <a href="https://www.schneier.com/cryptography/paperfiles/paper-keys-under-doormats-CSAIL.pdf">a paper</a>
    detailing their exploration of the effects that “imposing extraordinary access mandates” could have on the
    security of the internet. They found that “the damage that could be caused by law enforcement exceptional
    access requirements would be even greater today that it would have been 20 years ago.”
    (In 1993, the NSA introduced the <a href="https://en.wikipedia.org/wiki/Clipper_chip">Clipper chip</a>,
     a chipset that served as an encryption device with a built in backdoor. It was defunct and abandoned
     by 1996.) They go on to state that even beyond technical vulnerabilities,  “the prospect
     of globally deployed exceptional access systems raises difficult problems about how
     such an environment would be governed and how to ensure that such systems would
     respect human rights and the rule of law.”
</p>
<p>
<br><br>
I hope this page has been educational and has helped inform your opinion about this issue.
While this page takes a clear stance, it is important to keep national security in mind
and work towards a solution that keeps us safe and doesn’t compromise security or
privacy.
<br><br>
Thanks for reading!
</p>

<h4>More Interesting Links</h4>
<p>

<a href="https://www.youtube.com/watch?v=V9_PjdU3Mpo"> An interesting video about terrorism and surveillance. </a>
<br><br>
<a href="https://www.youtube.com/watch?v=LnEyjwdoj7g"> A video explaining cryptography and the illeged illegality of certain numbers/source code. </a>
<br>Examples of the type of code mentioned can be found here, in the <a href="https://www.cs.cmu.edu/~dst/DeCSS/Gallery/">Gallery of CSS Descrablers.</a>
<br><br>
<a href="https://securetheinternet.org">An open letter to the leaders of the world’s governments regarding secure communication. </a>
</p>

{% endblock %}
