body            { font-family: sans-serif;
                  text-align: center;
                  color: #111;

                  background: url("/static/bg.png");
                  background-attachment: fixed;
}

h1, h3, h4      { color: #5B9FE3;
                  font-family: 'Lora', serif;
                }


h1              {
                  font-size: 6em;
                  margin: 8% 0px 4% 0px;
                }

h3              { font-size: 3.3em;
                  margin: 0% 0px 8% 0px;
                }

h4              { color: #80E8B9;
                  font-size: 30px;
                  padding-left: 40px;
                }

#content        { margin: 5% 10% 10% 10%;
                  padding: 20px 20px 20px 20px;
                  background: #FFF;
                  border-radius: 20px; height:100%;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 20px;
                  color: #222;
                  text-align: left;
                }

p               { text-align: left;
                  padding: 5px 40px 50px 40px;
                }

.handwritten    { text-align: center;
                  font-family: 'Schoolbell', sans-serif;
                  font-size: 40px;
                }

img             { text-align: center;
                  align-items: center;
                  float: none;
                  width: 40%;
                  margin: 0% 30% 20px 30%;

                }

.quote          { font-family: 'Lora', serif;
                  color: #111;
                  font-size: 25px;
                  margin: 40px 80px 10px 80px;
                  padding-top: 30px;
                  background: #E3EFFB;
                  border-radius: 30px;
                }

.attrib         { float: right;
                  font-size: 20px;
                }
